<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button ng-click="isCollapsed=!isCollapsed" ng-init="isCollapsed=true" type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">YOUR SHINY APP</a>
    </div>

    <div collapse="isCollapsed" class="collapse navbar-collapse navigation-menu" ng-click="isCollapsed=true">
    
      <ul class="nav navbar-nav">
        <li dropdown is-open="menuAziendaOpen" ng-mouseover="menuAziendaOpen = true" ng-mouseleave="menuAziendaOpen = false">
          <a class="dropdown-toggle" href="">HoverDropdown</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Action</a></li>
          </ul>
        </li>

        <li dropdown is-open="status.isopen">
          <a class="dropdown-toggle" dropdown-toggle href="">ClickDropdown</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Action</a></li>
          </ul>
        </li>

        <li>
          <a href="">No Dropdown</a>
        </li>

  </div><!-- /.container-fluid -->
</nav>